<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>
        添加住户
    </title>
    <link rel="stylesheet" th:href="@{/jquery/jMenu.jquery.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/back_public.css}"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <link th:href="@{/Validform_v5.3.2/css/style.css}" rel="stylesheet">
    <script th:src="@{/layui/layui.js}" type="text/javascript"></script>
    <script th:src="@{/js/jquery-3.2.1.js}" type="text/javascript"></script>
    <script th:src="@{/Validform_v5.3.2/js/Validform_v5.3.2_min.js}" type="text/javascript"></script>
    <style>
        .layui-form-select dl {
            max-height: 190px !important;
        }

        .layui-form-item .layui-input-inline {
            width: inherit !important;
        }
    </style>
</head>

<body>
<header>
    <header th:text="${tenementId}==null?'添加住户':'修改住户'"></header>
</header>
<section>
    <div class="main">
        <form class="layui-form" action="" th:object="${tenement}">
            <div class="layui-form-item form-item">
                <label class="layui-form-label row lable"><span>*</span>小区/楼宇/单元</label>
                <div class="layui-input-block row row-div">
                    <input type="text" name="address" lay-verify="title" autocomplete="off" placeholder="请输入小区/楼宇/单元"
                           class="layui-input input" onclick="getCommunity()" style="position: absolute;z-index: 10">
                    <div class="layui-input-block row" style="display: flex">
                        <div class="layui-input-inline row" id="community">
                            <select name="community" class="layui-form" lay-filter="community">
                                <option th:each="c:${communityList}" th:value="${c.id}" th:text="${c.name}"></option>
                            </select>
                        </div>
                        <div class="layui-input-inline row layui-form" id="building" lay-filter="building">
                            <select name="building" lay-filter="building">
                            </select>
                        </div>
                        <div class="layui-input-inline row layui-form" id="unit" lay-filter="unit">
                            <select name="unit" lay-filter="unit">
                            </select>
                        </div>
                        <div class="layui-input-inline row layui-form" id="housenumber" lay-filter="housenumber">
                            <select name="housenumber" lay-filter="housenumber">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item form-item">
                <label class="layui-form-label row lable">
                    <span>*</span>住户姓名 :</label>
                <div class="layui-input-block row row-div">
                    <input type="text" name="name" lay-verify="title" autocomplete="off" th:value="*{name}"
                           placeholder="请输入住户姓名"
                           class="layui-input input short-div">
                </div>
            </div>
            <div class="layui-form-item form-item">
                <label class="layui-form-label row lable">
                    <span>*</span>联系方式 :</label>
                <div class="layui-input-block row row-div">
                    <input type="text" name="phone" lay-verify="title" autocomplete="off" th:value="*{phone}"
                           placeholder="请输入住户联系方式"
                           class="layui-input input short-div">
                </div>
            </div>
            <div class="layui-form-item form-item">
                <label class="layui-form-label row lable">
                    <span>*</span>身份 :</label>
                <div class="layui-input-block row row-div">
                    <div class="layui-input-inline row layui-form" id="relation" lay-filter="relation">
                        <select name="relation" lay-filter="relation">
                            <option value="0">请选择住户关系</option>
                            <option th:each="r:${relation}" th:value="${r.id}" th:text="${r.content}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item form-item">
                <label class="layui-form-label row lable">
                    QQ :</label>
                <div class="layui-input-block row row-div">
                    <input type="text" name="qqnumber" lay-verify="title" autocomplete="off" th:value="*{qqnumber}"
                           placeholder="请输入住户QQ" class="layui-input input short-div"/>
                </div>
            </div>
            <div class="layui-form-item form-item">
                <label class="layui-form-label row lable">
                    <span>*</span>微信号 :</label>
                <div class="layui-input-block row row-div">
                    <input type="text" name="wxnumber" lay-verify="title" autocomplete="off" th:value="*{wxnumber}"
                           placeholder="请输入微信号"
                           class="layui-input input short-div"/>
                </div>
            </div>
            <div class="layui-form-item form-item">
                <label class="layui-form-label row lable">
                    <span>*</span>性别 :</label>
                <div class="layui-input-block row row-div layui-form" id="sex" lay-filter="pliesTotal">
                    <select name="sex" lay-filter="pliesTotal">
                        <option value="男">男</option>
                        <option value="女">女</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item form-item">
                <label class="layui-form-label row lable">
                    <span>*</span>民族 :</label>
                <div class="layui-input-block row row-div">
                    <input type="text" name="nation" lay-verify="title" autocomplete="off" th:value="*{nation}"
                           placeholder="请输入住户的民族"
                           class="layui-input input short-div">
                </div>
            </div>

            <div class="layui-form-item form-item">
                <label class="layui-form-label row lable">
                    <span>*</span>身份证号 :</label>
                <div class="layui-input-block row row-div">
                    <input type="text" name="idcard" lay-verify="title" autocomplete="off" th:value="*{idcard}"
                           placeholder="请输入身份证号"
                           class="layui-input input short-div">
                </div>
            </div>
            <div class="layui-form-item form-item">
                <label class="layui-form-label row lable">
                    出生日期 :</label>
                <div class="layui-input-block row row-div">
                    <input type="text" name="birthday   " id="date1" lay-verify="title"
                           th:value="${#dates.format(tenement.birthday,'yyyy-MM-dd')}" autocomplete="off"
                           placeholder="请输入住户的出生日期" class="layui-input short-div">
                </div>
            </div>
            <div class="layui-form-item form-item">
                <label class="layui-form-label row lable">
                    <span>*</span>卡号 :</label>
                <div class="layui-input-block row row-div">
                    <input type="text" name="ownernumber" lay-verify="title" autocomplete="off"
                           th:value="*{ownernumber}" placeholder="请输入业主卡号"
                           class="layui-input input short-div">
                </div>
            </div>

            <div class="layui-form-item form-item">
                <label class="layui-form-label row lable">
                    <span>*</span>紧急联系人 :</label>
                <div class="layui-input-block row row-div">
                    <input type="text" name="urgencyman" lay-verify="title" autocomplete="off" th:value="*{urgencyman}"
                           placeholder="请输入紧急联系人"
                           class="layui-input input short-div">
                </div>
            </div>
            <div class="layui-form-item form-item">
                <label class="layui-form-label row lable">
                    <span>*</span>紧急联系人方式 :</label>
                <div class="layui-input-block row row-div">
                    <input type="text" name="urgencymanphone" lay-verify="title" autocomplete="off"
                           th:value="*{urgencymanphone}" placeholder="请输入紧急联系人方式"
                           class="layui-input input short-div">
                </div>
            </div>
            <div class="layui-form-item form-item">
                <label class="layui-form-label row lable">
                    备注 :</label>
                <div class="layui-input-block row row-div">
                    <input type="text" name="remark" lay-verify="title" autocomplete="off" th:value="*{remark}"
                           placeholder="请输入备注"
                           class="layui-input input short-div">
                </div>
            </div>
        </form>
        <div class="buttondiv">
            <div class="button-item"></div>
            <div class="button-item">
                <button class="layui-btn layui-btn-normal layui-btn-radius  save" onclick="addTenement()">保存
                </button>
                <button class="layui-btn layui-btn-normal layui-btn-radius ">返回</button>
            </div>
        </div>
    </div>
</section>
<footer>
    Copyright 2013-2018 weixiaoqu.com 成都云联峰创科技有限公司旗下产品
</footer>
<script>
    layui.use(['form', 'laydate'], function () {
        var form = layui.form;
        var laydate = layui.laydate;

        laydate.render({
            elem: '#date1'
        });
        var communityName = null;
        var buildingName = null;
        var unitName = null;
        //监听小区下拉框
        form.on('select(community)', function (data) {
            $("#unit dl").hide();
            $("#housenumber dl").hide();
            var select = $("select[name='building']");
            select.children().remove();
            $.post('getBuildingIdAndNameByCommunityId', {'communityId': data.value}, function (buildingList) {
                $.each(buildingList, function (i, v) {
                    var option = '<option value="' + v.id + '">' + v.name + '</option>';
                    select.append(option);
                })
                form.render('select', 'building');
                $("#building dl").show();
            })
            //获取选中的值
            communityName = $(data.elem).find("option:selected").text();
        });
        //监听楼宇下拉框
        form.on('select(building)', function (data) {
            var select = $("select[name='unit']");
            $("#housenumber dl").hide();
            select.children().remove();
            $.post('getUnitTotalByBuildingId', {'buildingId': data.value}, function (unitTotal) {
                for (var i = 1; i <= unitTotal; i++) {
                    var option = '<option value="'+i+'">' + i + '单元</option>';
                    select.append(option);
                }
                form.render('select', 'unit');
                $("#unit dl").show();
            })
            buildingId = data.value;
            buildingName = $(data.elem).find("option:selected").text();
        });
        //监听单元下拉框
        form.on('select(unit)', function (data) {
            var select = $("select[name='housenumber']");
            select.children().remove();
            $.post('getHouseByUnit', {'unitNumber':data.value }, function (houseList) {
                $.each(houseList, function (i, v) {
                    var option = '<option value="' + v.houseid + '">' + v.fool + '</option>';
                    select.append(option);
                })
                form.render('select', 'housenumber');
                $("#housenumber dl").show();
            })
            unitName = data.value;
        });
        //监听房号下拉框
        form.on('select(housenumber)', function (data) {
            var housenumber = $(data.elem).find("option:selected").text();
            var address = communityName + "/" + buildingName + "/" + unitName + "/" + housenumber;
            $("input[name='address']").val(address);
            $("#community dl").hide();
            $("#building dl").hide();
            $("#unit dl").hide();
            $("#housenumber dl").hide();
            select_on_off = true;
        });
    })
    //下拉框开关
    var select_on_off = false;

    function getCommunity() {
        //判断是否需要显示
        if (select_on_off) {
            $("#community dl").show();
            $("#building dl").show();
            $("#unit dl").show();
            $("#housenumber dl").show();
        } else {
            var address = $("input[name='address']").val();
            //判断是否需要回显
            if (address != "") {
                var cbu = address.split("/")
                $("#community>select option[value='" + cbu[0] + "']").attr("selected", "selected");
                $("#building>select option[value='" + cbu[0] + "']").attr("selected", "selected");
                $("#unit>select option[value='" + cbu[0] + "']").attr("selected", "selected");
                $("#housenumber>select option[value='" + cbu[0] + "']").attr("selected", "selected");
                $("#community dl").hide();
                $("#building dl").hide();
                $("#unit dl").hide();
                $("#housenumber dl").hide();
            } else {
                $("#community dl").show();
            }
        }
        select_on_off = !select_on_off;
    }

    function addTenement() {
        $.post('insertSelective', $("form").serialize(),function (data) {
            console.log(data);
        })
    }
</script>
</body>
</html>