<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="multipart/form-data; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title th:text="${community.id}==null?'添加小区':'修改小区'"></title>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet"/>
    <link th:href="@{/css/back_public.css}" rel="stylesheet"/>
    <link th:href="@{/Validform_v5.3.2/css/style.css}" rel="stylesheet">
    <script th:src="@{/layui/layui.js}" type="text/javascript"></script>
    <script th:src="@{/js/jquery-3.2.1.js}" type="text/javascript"></script>
    <script th:src="@{/Validform_v5.3.2/js/Validform_v5.3.2_min.js}" type="text/javascript"></script>
    <script th:src="@{/js/back_upload.js}"></script>
</head>
<body>
<header th:text="${community.id}==null?'添加小区':'修改小区'"></header>
<section>
    <div class="main" id="layerDemo">
        <form class="layui-form registerform" action="" th:object="${community}" enctype="multipart/form-data">
            <div class="layui-form-item form-item need">
                <label class="layui-form-label row lable">
                    <span>*</span>小区名称 :</label>
                <div class="layui-input-block row row-div">
                    <input class="layui-input input" type="text" name="name" th:value="*{name}" datatype="*"
                           nullmsg="请输入小区名！"
                           lay-verify="title" autocomplete="off"
                           placeholder="请输入小区名称"
                    >
                    <div class="Validform_checktip"></div>
                </div>
            </div>
            <div class="layui-form-item form-item">
                <label class="layui-form-label row lable">
                    <span>*</span>所在地区 :</label>
                <div class="layui-input-block row row-div">
                    <input class="layui-input input" type="text" name="address" th:value="*{address}" datatype="*"
                           nullmsg="请输入所在地区！"
                           lay-verify="title" autocomplete="off"
                           placeholder="请选择所在地区"
                    >
                    <div class="Validform_checktip"></div>
                </div>
            </div>
            <div class="layui-form-item form-item">
                <label class="layui-form-label row lable">
                    <span>*</span>详细地址 :</label>
                <div class="layui-input-block row row-div">
                    <input class="layui-input input" type="text" name="detailaddress" th:value="*{detailaddress}"
                           datatype="*" nullmsg="请输入详细地址！"
                           lay-verify="title"
                           autocomplete="off" placeholder="请输入详细地址"
                    >
                    <div class="Validform_checktip"></div>
                </div>
            </div>
            <div class="layui-form-item form-item">
                <label class="layui-form-label row lable">
                    客服电话 :</label>
                <div class="layui-input-block row row-div">
                    <input class="layui-input input" type="text" name="servicetel" th:value="*{servicetel}" datatype="m"
                           nullmsg="请输入客服电话！" errormsg="请填写正确的手机号码！"
                           lay-verify="title" autocomplete="off"
                           placeholder="请输入客服电话">
                    <div class="Validform_checktip"></div>
                </div>
            </div>
            <div class="layui-form-item form-item">
                <label class="layui-form-label row lable">
                    负责人 :</label>
                <div class="layui-input-block row row-div">
                    <input class="layui-input input" type="text" name="leader" th:value="*{leader}" datatype="*"
                           nullmsg="请输入负责人！"
                           lay-verify="title" autocomplete="off"
                           placeholder="请输入负责人">
                    <div class="Validform_checktip"></div>
                </div>
            </div>
            <div class="layui-form-item form-item">
                <label class="layui-form-label row lable">
                    负责人电话 :</label>
                <div class="layui-input-block row row-div">
                    <input class="layui-input input" type="text" name="leaderphone" th:value="*{leaderphone}"
                           datatype="m" nullmsg="请输入负责人电话！" errormsg="请填写正确的手机号码！"
                           lay-verify="title"
                           autocomplete="off" placeholder="请输入负责人电话" >
                    <div class="Validform_checktip"></div>
                </div>
            </div>
            <div class="layui-form-item form-item">
                <label class="layui-form-label row lable">
                    小区LOGO :</label>
                <div class="layui-input-block row row-div">
                    <div class="layui-upload img-div" th:data="logo">
                        <div th:class="${community.logo==null||community.logo==''}?'upload-before':'upload-before hide'">
                            <i class="iconfont" style="font-size: 36px;">&#xe602;</i>
                            <p>上传图片</p>
                        </div>
                        <div class="upload-after" style="display: none;">
                            <i class="iconfont look layui-btn laybtn" data-method="offset" style="font-size: 24px;">&#xe61e;</i>
                            <i class="iconfont del" style="font-size: 24px;">&#xe618;</i>
                        </div>
                        <img th:remove="${community.logo==null||community.logo==''}? all : none "
                             th:src="${#httpServletRequest.getScheme()+'://'+#httpServletRequest.getServerName()+':'+#httpServletRequest.getServerPort()}+'/img/upload-img/'+ ${community.logo}"
                             th:height="86px"
                             th:width="86px"
                             th:alt="${community.logo}">
                    </div>
                </div>
            </div>
            <div class="layui-form-item form-item">
                <label class="layui-form-label row lable">
                    小区背景 :</label>
                <div class="layui-input-block row row-div">
                    <div class="layui-upload img-div" th:data="background">
                        <div th:class="${community.backgroundimage==null ||community.backgroundimage==''}?'upload-before':'upload-before hide'">
                            <i class="iconfont" style="font-size: 36px;">&#xe602;</i>
                            <p>上传图片</p>
                        </div>
                        <div class="upload-after" style="display: none;">
                            <i class="iconfont look layui-btn laybtn" data-method="offset" style="font-size: 24px;">&#xe61e;</i>
                            <i class="iconfont del" style="font-size: 24px;">&#xe618;</i>
                        </div>
                        <img th:remove="${community.backgroundimage==null ||community.backgroundimage==''}? all : none "
                             th:src="${#httpServletRequest.getScheme()+'://'+#httpServletRequest.getServerName()+':'+#httpServletRequest.getServerPort()}+'/img/upload-img/'+ ${community.backgroundimage}"
                             th:height="86px" th:width="86px"
                             th:alt="${community.backgroundimage}">
                    </div>

                </div>
            </div>
        </form>
        <div class="photo"></div>
        <div class="buttondiv">
            <div class="button-item"></div>
            <div class="button-item">
                <button class="layui-btn layui-btn-normal layui-btn-radius  save"
                        th:text="${community.id==null}?'添加':'修改'"></button>
                <button class="layui-btn layui-btn-normal layui-btn-radius ">返回</button>
            </div>
        </div>
    </div>
</section>
<footer>
    Copyright 2013-2018 weixiaoqu.com 成都云联峰创科技有限公司旗下产品
</footer>

<script th:inline="javascript">
    //表单验证
    demo = $("form").Validform({
        btnSubmit: ".save",
        tiptype: function (msg, o, cssctl) {
            //msg：提示信息;
            //o:{obj:*,type:*,curform:*}, obj指向的是当前验证的表单元素（或表单对象），type指示提示的状态，值为1、2、3、4， 1：正在检测/提交数据，2：通过验证，3：验证失败，4：提示ignore状态, curform为当前form对象;
            //cssctl:内置的提示信息样式控制函数，该函数需传入两个参数：显示提示信息的对象 和 当前提示的状态（既形参o中的type）;
            if (!o.obj.is("form")) {//验证表单元素时o.obj为该表单元素，全部验证通过提交表单时o.obj为该表单对象;
                var objtip = o.obj.siblings(".Validform_checktip");
                cssctl(objtip, o.type);
                objtip.text(msg);
            } else {
                var objtip = o.obj.find("footer");
                cssctl(objtip, o.type);
                objtip.text(msg);
            }
        },
        ajaxPost: true
    });

    <!--单机保存-->
    $(".save").click(function () {
        if (demo.check()) {
            if (pass === 1) {
                var logo = getImgName("logo");					//小区logo
                var backgroundimage = getImgName("background");	//小区背景图
                var community = $.param({
                    'logo': logo,
                    'backgroundimage': backgroundimage
                }) + '&' + $("form").serialize();
                //提示
                var hint = $(".save").text() == "添加" ? "添加" : "修改";
                var url = hint == "添加" ? "addCommunity" : "updateCommunity/" + [[${community.id}]];
                $.post('/Community/' + url, community, function (result) {
                    if (result === 1) {
                        layer.msg(hint + "成功", {
                            icon: 1,
                            time: 2000,
                            end: function () {
                                window.location = "/Community/communityList.html";
                            }
                        })
                    } else {
                        layer.msg(hint + '失败', {
                            icon: 2
                        });
                    }
                })
            }
        } else {
            //验证不通过的操作在这里写
        }
    })
</script>
</body>
</html>
