<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="multipart/form-data; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>添加小区</title>
	<link rel="stylesheet" th:href="@{/layui/css/layui.css}" />
	<link rel="stylesheet" th:href="@{/css/back_public.css}" />
	<script th:src="@{/layui/layui.js}" type="text/javascript"></script>
	<script th:src="@{/js/jquery-3.2.1.js}" type="text/javascript"></script>
	<!--<script th:src="@{/js/back_upload.js}"></script>-->
</head>
<body>
<header>
	添加小区
</header>
<section>
	<div class="main" id="layerDemo">
		<form class="layui-form" action=""  enctype="multipart/form-data">
			<div class="layui-form-item form-item">
				<label class="layui-form-label row lable">
					<span>*</span>小区名称 :</label>
				<div class="layui-input-block row row-div">
					<input type="text" name="communityName" lay-verify="title" autocomplete="off" placeholder="请输入小区名称" class="layui-input input">
					<div class="verify">表单验证区域</div>
				</div>
			</div>

			<div class="layui-form-item form-item">
				<label class="layui-form-label row lable">
					<span>*</span>所在地区 :</label>
				<div class="layui-input-block row row-div">
					<input type="text" name="address" lay-verify="title" autocomplete="off" placeholder="请选择所在地区" class="layui-input input">
					<div class="verify">表单验证区域</div>
				</div>
			</div>
			<div class="layui-form-item form-item">
				<label class="layui-form-label row lable">
					<span>*</span>详细地址 :</label>
				<div class="layui-input-block row row-div">
					<input type="text" name="detailAddress" lay-verify="title" autocomplete="off" placeholder="请输入详细地址" class="layui-input input">
					<div class="verify">表单验证区域</div>
				</div>
			</div>
			<div class="layui-form-item form-item">
				<label class="layui-form-label row lable">
					客服电话 :</label>
				<div class="layui-input-block row row-div">
					<input type="text" name="servicePhone" lay-verify="title" autocomplete="off" placeholder="请输入客服电话" class="layui-input input">
				</div>
			</div>
			<div class="layui-form-item form-item">
				<label class="layui-form-label row lable">
					负责人 :</label>
				<div class="layui-input-block row row-div">
					<input type="text" name="admin" lay-verify="title" autocomplete="off" placeholder="请输入负责人" class="layui-input input">
				</div>
			</div>
			<div class="layui-form-item form-item">
				<label class="layui-form-label row lable">
					负责人电话 :</label>
				<div class="layui-input-block row row-div">
					<input type="text" name="adminPhone" lay-verify="title" autocomplete="off" placeholder="请输入负责人电话" class="layui-input input">
				</div>
			</div>
			<div class="layui-form-item form-item">
				<label class="layui-form-label row lable">
					小区LOGO :</label>
				<div class="layui-input-block row row-div">
					<div class="layui-upload img-div" th:data="logo">
						<div class="upload-before">
							<i class="iconfont" style="font-size: 36px;">&#xe602;</i>
							<p>上传图片</p>
						</div>
						<div class="upload-after" style="display: none;">
							<i class="iconfont look layui-btn laybtn" data-method="offset" style="font-size: 24px;">&#xe61e;</i>
							<i class="iconfont del" style="font-size: 24px;">&#xe618;</i>
						</div>
					</div>
				</div>
			</div>
			<div class="layui-form-item form-item">
				<label class="layui-form-label row lable">
					小区背景 :</label>
				<div class="layui-input-block row row-div">
					<div class="layui-upload img-div" th:data="background">
						<div class="upload-before">
							<i class="iconfont" style="font-size: 36px;">&#xe602;</i>
							<p>上传图片</p>
						</div>
						<div class="upload-after" style="display: none;">
							<i class="iconfont look layui-btn laybtn" data-method="offset" style="font-size: 24px;">&#xe61e;</i>
							<i class="iconfont del" style="font-size: 24px;">&#xe618;</i>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div class="buttondiv">
			<div class="button-item"> </div>
			<div class="button-item">
				<button class="layui-btn layui-btn-normal layui-btn-radius  save">保存</button>
				<button class="layui-btn layui-btn-normal layui-btn-radius ">返回</button>
			</div>
		</div>
	</div>
</section>
<div class="photo">

</div>
<footer>
	Copyright 2013-2018 weixiaoqu.com 成都云联峰创科技有限公司旗下产品
</footer>

<script>

    //验证是否上传成功  1成功 -1失败
	var pass=1;
	var imgresult=null;
    layui.use('upload', function () {
        var $ = layui.jquery,
            upload = layui.upload;
        //多图片上传
        upload.render({
            elem: '.layui-upload',
            url: '/Community/upload/',
            multiple: true,
            field:'file',
            auto:false,
            bindAction:'.save',
            choose: function (obj) {
                //将每次选择的文件追加到文件队列
                var touchObj=this.item[0].attributes[1].nodeValue;
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    imgresult=result;
                    $('.img-div[data="'+touchObj+'"]').append('<img src="' + result + '" alt="' + file.name +
                        '" class="layui-upload-img img" height="86px" width="86px">'
                    )
                    $('.img-div[data="'+touchObj+'"]').find('.upload-before').hide();
                });
            },
            before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
				//
            },
            done: function (res) {
                console.log("laji");
                //上传完毕  1成功 -1失败
                console.log("上传完毕");
                if (res!=1){
                    pass=-1;
                }
                console.log(pass)
            }
        });
        //控制图片遮罩隐藏显示
        $(".img-div").hover(
            function () {
                if($(this).find('img').length!=0){
                    $(this).find(".upload-after").show();
                }
                $(this).css("border", "1px solid #999");
            },
            function () {
                $(this).css("border", "1px dashed #999");
                $(this).find(".upload-after").hide();
            }
        )
        //查看图片
        $(".look").click(function (event) {
            event.stopPropagation();
        })
        //删除图片
        $(".del").click(function (event) {
            var dom=$(this).parents(".img-div");
            dom.find("img").remove();
            dom.find(".upload-before").show();
            dom.find(".upload-after").hide();
            event.stopPropagation();
        })
    });

    layui.use(['layer', 'form'], function () { //独立版的layer无需执行这一句
        var $ = layui.jquery,
            layer = layui.layer; //独立版的layer无需执行这一句
        var form = layui.form;

        //触发事件
        var active = {
            offset: function (othis) {
                var type = othis.data('type'),
                    text = othis.text();
                var obj = $(othis);
                var data = obj.attr('data');
                layer.open({
                    type: 1,
                    title: false,
                    scrollbar: false,
                    shadeClose: true,
                    closeBtn: 0,
                    offset: type,
                    area: ['512px', '306px'],
                    content: $('.photo'),
                    btnAlign: 'c' //按钮居中
                    ,
                    shade: [0.7, '#080808'],
                    yes: function () {
                        layer.closeAll();
                    }
                });
            }
        };

        $('#layerDemo .layui-btn').on('click', function () {
           var img=$('<img src="'+imgresult+'" height="266px" width="472px" />');
           $(".photo").append(img);
            var othis = $(this),
                method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });

    });

</script>
</body>
</html>
