<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--
	作者：offline
	时间：2018-07-07
	描述：未缴账单
-->
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <style>
        .layui-nav {
            background-color: white !important;
        }

        .a_color {
            color: #000000 !important;
        }
    </style>
    <link th:href="@{/css/service/notice.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/admin_public.css}" />
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet">
</head>
<body>
<div style="margin-top: 35px">
    <div style="width: 96%; background-color: white; margin: 0px auto;">
        <!--
              作者：offline
              时间：2018-04-12
              描述：主体内容从这开始
                                    自己写内容
         -->

        <ul class="layui-nav" lay-filter="">
            <li  class="layui-nav-item"><a class="a_color"
                                                     href="../notice/doNotice">小区公告</a></li>
            <li id="lione" class="layui-nav-item "><a class="a_color"
                                           href="doNoticeType">公告分类</a></li>
        </ul>

        <hr />
        <div id="subject" style="margin: 20px 30px">

            <button onclick="doAdd()" class="button noborder">
                <i class="layui-icon btn-icon">&#xe654;</i>添加类型
            </button>
            <div style="float: right;">
                <input id="noticeTitle" type="text" placeholder="请输入类型关键字"
                       class="search-keyword" />
                <button onclick="page()" class="noborder">
                    <i class="layui-icon search">&#xe615;</i>
                </button>
                <button type="submit" class="noborder">
                    <i class="layui-icon search">&#xe607;</i>
                </button>
            </div>

            <table style="margin-top: 10px;" id="table" lay-filter="table"></table>
            <footer class="fenye p-20"> </footer>
        </div>
    </div>
</div>
    <script th:src="@{/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.js}"></script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <script>
        function doAdd() {
            layer.open({
                type: 2,
                title:'添加公告',
                area: ['100%', '100%'],
                content: 'doAddNotice'
            })
        }
        $(function() {
            $("#lione").addClass("layui-this")
        })
        //JavaScript代码区域
        layui.use('element', function() {
            var element = layui.element;
        });
        $(function() {
            page();
        })
        function page() {
            layui.use([ 'layer', 'table' ], function() {
                var table = layui.table;
                var layer = layui.layer;
                table.render({
                    elem : '#table',
                    url : 'getAllNoticeByPage.json',
                    loading : true,
                    where : {
                        typeName : $("#noticeTitle").val()
                    },
                    cellMinWidth : 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                    ,
                    cols : [ [ {
                        field : 'typeName',
                        align : 'center',
                        title : '类型名称'
                    }, {
                        field : 'count',
                        title : '关联公告',
                        align : 'center'
                    }, {
                        field : 'createTime',
                        title : '添加时间',
                        align : 'center'
                    } , {
                        title : '操作',
                        align : 'center',
                        templet : '#barDemo'
                    } ] ],
                    page : true
                })
                table.on('tool(table)', function(obj) {
                    var data = obj.data; //获得当前行数据
                    var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                    var tr = obj.tr; //获得当前行 tr 的DOM对象
                    if (layEvent === 'del') {
                        layer.confirm('确定要删除吗?', {
                            icon : 3,
                            title : '提示',
                            shade : '0'
                        }, function(index) {
                            $.ajax({
                                url : 'deleteNoticeTypeById.json',
                                type : 'post',
                                dataType : 'json',
                                data : {
                                    noticeTypeId : data.noticeid
                                },
                                success : function(data) {
                                    if (data === 1) {
                                        layer.msg('删除成功', {icon : 1});
                                        obj.del();
                                        layer.close(index);
                                    } else {
                                        layer.msg('删除失败,请检查是否有关联信息', {icon : 2});
                                    }
                                }
                            })

                        });

                    }


                });

            })


        }

    </script>
</body>
</html>