* {
	margin: 0;
	padding: 0;
	font-family: "microsoft yahei", 'Open Sans', sans-serif;
	color: #8391a5;
	font-size: 14px;
}
header {
	margin-top:35px;
	padding: 18px 25px;
	border-bottom: 1px solid #E0E0E0;
}

.h2 {
	margin: 0;
	line-height: 100%;
	font-size: 17px;
	font-weight: 500;
	color: #000;
}
#right{
	position: fixed;
    right: 0;
    top:0;
    background-color: white; 
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.38)
}
.button {
	color: #fff;
	background-color: #0fb478;
	cursor: pointer;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	padding: 8px 15px;
	border-radius: 2px;
	min-width: 100px;
}
#subject:after {
	content: "";
	clear: both;
	line-height: 1px;
	display: block;
}
.shortInput {
	display: inline-block;
	background-color: #FFFFFF;
	border: 1px solid #e5e6e7;
	border-radius: 1px;
	padding: 8px 12px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	min-width: 490px;
	margin-top: 20px;
	margin-bottom: 15px;
}
.span {
	color: red;
}
.btn-icon{
	    font-size: 15px;
    vertical-align: top;
    display: inline-block;
    margin-top: 1px;
    line-height: 100%;
    margin-right: 5px;
    color: white;
}
.search-keyword{
	width: 200px;
    height: 30px;
    border: 1px solid #d1d2d3;
    float: left;
    font-size: 12px;
    line-height: 25px;
    padding: 0 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.search{
	display: block;
    float: left;
    min-width: 40px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #fcfcfc;
    border: none;
    border:1px solid #d1d2d3;
    color: #2277da;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
}
.table{
	margin: 15px 0;
	width: 100%;
    max-width: 100%;
}
.th{  
    padding: 10px;
    text-align: left;
    padding-left: 30px;
    
}
.thcolor{
	background-color: #F5F6FA;
	 border-top: 1px solid #e1e6eb;
    border-bottom: 1px solid #e1e6eb;
}

.p-20{
	padding: 20px;
}
.fenye{
	margin:20px 0;
}
.file{
	opacity: 0;
    position: absolute;
    width: 0px;
    height: 0px;
    left: 0;
    top: 0;
    cursor: pointer;
    padding-bottom: 148px;
    padding-right: 148px;
}
* {
	margin: 0;
	padding: 0;
	font-family: "microsoft yahei", 'Open Sans', sans-serif;
	color: #8391a5;
	font-size: 14px;
}


.noborder{
	border: none;
}
.absolute{
		 position: absolute;
	    left: 0;
	    top: 0;
	    width: 146px;
	    height: 146px;
	}
.background{
	background-color: black;
	z-index: 1;
	opacity: 0.5;
    border-radius: 6px;
}
.i_style{
	z-index: 2; 
	color: white;
	font-size:24px !important;
}
.bg{
	    border: 1px dashed #c0ccda;
    border-radius: 6px;
    display: none;
}

.container{
background-color: #FFFFFF;
width: 80%;
box-shadow: 0 0px 20px rgba(0,0,0,.15);
margin:  0px auto;
}
#firsth3{
height: 30px;
padding-top: 20px;
}

#list{
padding: 20px 100px;
			}
.mess{			
border-bottom: 1px dashed #E0E0E0;
padding: 20px 220px;
			}
.container span{
	color: red;
}
.mess>input{
padding: 7px 12px;
width: 300px;
border: 1px solid #e5e6e7;
border-radius: 1px;
			}
.label{
font-size: 14px;
text-align: right;
width: 200px;
display: inline-block;
color:#3F3F3F;
    margin-right: 10px;
		   }
#button{
margin-left: 180px;
padding: 15px 200px;
		   }
.button_return{
	background-color: white !important;
    color: #666 !important;
    border: none;
    box-shadow: 0 2px 5px rgba(0,0,0,.16), 0 2px 10px rgba(0,0,0,.12);
}
#button>button{
width: 130px;
		    }

h2{
margin: 0;
line-height: 100%;
font-size: 17px;
font-weight: 400;	
color: #000000;
}
h2 small{
display: block;
margin-top: 8px;
color: #aeaeae;
line-height: 160%;
}
/**
时间框样式
*/
.timeBorder{
	display:inline-block;
}
.timeInput{
	padding: 7px 12px;
    width: 324px;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
}
/**
下拉框样式
*/
.select{
	padding: 0 !important;
    width: 515px !important;
    border: none !important;
}
.noMargin{
	margin:0px;
}
.goRight {
	width: 0px;
	transition: width 1s;
}
.selectType{
	padding-right: 395px !important;
}
.goLeft {
	width: 500px;
	transition: width 1s;
}
.pass{
	color:#1E90FF !important;
}
.pass:hover{
 	text-decoration: underline;
 }
@font-face {
  font-family: 'iconfont';  /* project id 629370 */
  src: url('//at.alicdn.com/t/font_629370_9bwp2bzagfgmygb9.eot');
  src: url('//at.alicdn.com/t/font_629370_9bwp2bzagfgmygb9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_629370_9bwp2bzagfgmygb9.woff') format('woff'),
  url('//at.alicdn.com/t/font_629370_9bwp2bzagfgmygb9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_629370_9bwp2bzagfgmygb9.svg#iconfont') format('svg');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 18px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
	    color: coral;
}		
