body {
	background: #F0F2F5;
	overflow-x: hidden;
}
/*头部*/
header {
	background: #FFF;
	padding: 40px 20px 20px 20px;
	text-indent: 0.5em;
	font-size: 15px;
	color: rgba(0, 0, 0, .85);
}
/*主体*/
section {
	padding: 20px;
}
/*主体中主要显示区域*/
.main {
	background: #FFF;
	padding-bottom: 20px;
}
/*主体中表单*/
form{
	max-width: 1200px;
	padding: 20px !important;

}
/*表单中每一个子项*/
.form-item {
	display: flex;
	margin-bottom: 24px !important;
}
/*每一个子项的样式*/
.row {
	display: inline-table;
	flex-direction: row;
	flex: 1;
	margin: 0 !important;
	padding: 0 !important;
}
.row-div{
	width: 40% !important;
	position: relative;
}
.lable {
	padding: 9px 0 !important;
	color: rgba(0,0,0,.85);
	padding-right: 10px !important;
}
.input{
	padding: 2px 0 !important;
	padding-left: 10px !important;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	color: #bfbfbf !important;

}
/*红色*号*/
.row span{
	color: #f5222d;
	font-size: 14px;
	padding:0 5px;
	display: inline-block;
}
/*按钮容器*/
.buttondiv{
	text-align: center;
}
/*按钮子项*/
.button-item{
	display: inline-table !important;
}
.button-item button{
	width: 100px;
}
/*保存按钮*/
.save{
	background: #47c479 !important;
	color: white;
	margin-right: 50px;
}
/*底部*/
footer{
	text-align: center;
	padding: 30px 0;
	color: #bfbfbf;
}
/*表单验证*/
.verify{
	display: none;
	position: absolute;
	color: #f5222d;
}
/*上传图片前容器*/
.img-div{
	border: 1px dashed #999;
	width: 86px !important;
	height: 86px !important;
	padding: 6px !important;
	border-radius: 8px !important;
	position: relative;
	cursor: pointer;
}
/*动态生成图片*/
img{
	position: absolute;
	z-index: 5;
}
/*上传前的样式*/
.upload-before{
	text-align: center;
	padding: 15px;
	color:#999 ;
}
/*上传后的样式*/
.upload-after{
	position: absolute;
	background: rgba(1,1,1,0.3);
	text-align: center;
	color: lightgray;
	width: inherit;
	height: inherit;
	z-index: 10;
	line-height: 84px;
}
.hide{
	display: none;
}
/*上传提示文本*/
.upload-before>p{
	padding: 5px 0;
}
/*点击查看*/
.photo{
	border: 20px solid white;
	border-radius: 10px;
	height: 266px;
	width: 472px;
	display: none;
}
.laybtn{
	color: lightgray !important;
	vertical-align: inherit !important;
	padding: 0 !important;
	height: 0 !important;
}
/*下拉框选项容器*/
.lay-select~div dl{
	min-width: inherit !important;
	width: 25% !important;
}
.lay-select~div dd{
	color: red;
}
/*表格上方按钮*/
.button {
	color: #fff;
	background-color: #0fb478;
	cursor: pointer;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	padding: 8px 15px;
	border-radius: 2px;
	min-width: 100px;
	margin-top: 20px;
	margin-left: 30px;
}
.noborder{
	border: none;
}
.grabble{
	margin-right: 30px;
	margin-top: 20px;
}
/*搜索框*/
.search-keyword{
	width: 200px;
	height: 30px;
	border: 1px solid #d1d2d3;
	float: left;
	font-size: 12px;
	line-height: 25px;
	padding: 0 10px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
/*搜索图标*/
.search{
	display: block;
	float: left;
	min-width: 40px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #fcfcfc;
	border: none;
	border:1px solid #d1d2d3;
	color: #2277da;
	border-radius: 3px;
	font-size: 16px;
	font-weight: 600;
}
/**/
@font-face {
	font-family: 'iconfont';  /* project id 753023 */
	src: url('//at.alicdn.com/t/font_753023_il7iesgpair.eot');
	src: url('//at.alicdn.com/t/font_753023_il7iesgpair.eot?#iefix') format('embedded-opentype'),
	url('//at.alicdn.com/t/font_753023_il7iesgpair.woff') format('woff'),
	url('//at.alicdn.com/t/font_753023_il7iesgpair.ttf') format('truetype'),
	url('//at.alicdn.com/t/font_753023_il7iesgpair.svg#iconfont') format('svg');
}
.iconfont {
	font-family: "iconfont" !important;
	font-size: 24px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
.iconfont:hover{
	cursor: pointer;
}