<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>通讯录</title>
		<link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
		<link rel="stylesheet" th:href="@{/css/addressBook/addstaff.css}" />
	</head>

	<body>
		<div class="body">
			<div class="add">
				<h1>添加新员工</h1>
			</div>
			<div class="particulars">
				<table>
					<tr>
						<td><span class="symbol behind">*</span> <span class="size">姓名：</span><input class="name tm" type="text" placeholder="请输入姓名" /></td>
					</tr>
					<tr>
						<td><span class="symbol behind">*</span> <span class="size">昵称：</span><input class="tm name" type="text" placeholder="请输入房号" /></td>
					</tr>
					<tr>
						<td><span class="symbol behinds">*</span> <span class="size">手机号：</span><input class="tm name" type="text" placeholder="请输入手机号" /></td>
					</tr>
					<tr>
						<td><span class="symbol behinds">*</span> <span class="size">微信号：</span><input class="name tm" type="text" placeholder="请输入微信号" /></td>
					</tr>
					<tr>
						<td><span class="symbol behind">*</span> <span class="size">邮箱：</span><input class="name tm" type="text" placeholder="请属于邮箱" /></td>
					</tr>
					<tr>
						<td><span class="symbol behind">*</span> <span class="size">部门：</span><select class="housing">
							<option>请选择部门</option>
							</select>
						</td>
					</tr>
					<tr>
						<td><span class="symbol behind">*</span> <span class="size">职位：</span><input class="name tm" type="text" placeholder="请输入职位" /></td>
					</tr>
					<tr>
						<td><span class="symbol behind">*</span> <span class="size">备注：</span><input class="name tm" type="text" placeholder="请输入备注" /></td>
					</tr>
				</table>
		</div>
			<div class="end">
				 <button class="layui-btn  btn layui-btn-radius">确定</button>
   				 <button class="layui-btn layui-btn-primary layui-btn-radius">取消</button>
			</div>
		</div>
	</body>

</html>