<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.m78.mapper.ChargeitemMapper" >
  <resultMap id="BaseResultMap" type="com.m78.entity.Chargeitem" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="BIGINT" />
    <result column="periodTime" property="periodtime" jdbcType="BIGINT" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="cashPrice" property="cashprice" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, type, periodTime, price, cashPrice
  </sql>
  <!--查询全部收费标准-->
  <select id="getAllCharge" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from chargeitem
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from chargeitem
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from chargeitem
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.m78.entity.Chargeitem" >
    insert into chargeitem (id, name, type, 
      periodTime, price, cashPrice
      )
    values (DEFAULT, #{name,jdbcType=VARCHAR}, #{type,jdbcType=BIGINT},
      #{periodtime,jdbcType=BIGINT}, #{price,jdbcType=DOUBLE}, DEFAULT
      )
  </insert>
  <insert id="insertSelective" parameterType="com.m78.entity.Chargeitem" >
    insert into chargeitem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="periodtime != null" >
        periodTime,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="cashprice != null" >
        cashPrice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=BIGINT},
      </if>
      <if test="periodtime != null" >
        #{periodtime,jdbcType=BIGINT},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="cashprice != null" >
        #{cashprice,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.m78.entity.Chargeitem" >
    update chargeitem
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=BIGINT},
      </if>
      <if test="periodtime != null" >
        periodTime = #{periodtime,jdbcType=BIGINT},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="cashprice != null" >
        cashPrice = #{cashprice,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.m78.entity.Chargeitem" >
    update chargeitem
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=BIGINT},
      periodTime = #{periodtime,jdbcType=BIGINT},
      price = #{price,jdbcType=DOUBLE},
      cashPrice = #{cashprice,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <select id="getAllById" parameterType="java.lang.Integer" resultMap="BaseResultMap" >
        SELECT ci.id,ci.`name`,ci.periodTime,ci.price FROM chargeitem ci
        INNER JOIN chargename cn ON cn.id=ci.type
        WHERE cn.id=#{id}
        limit #{page},#{pageSize}
    </select>
    <select id="getAllCount" parameterType="java.lang.Integer" resultType="java.lang.Long">
         SELECT count(1) as sums FROM chargeitem ci
        INNER JOIN chargename cn ON cn.id=ci.type
        WHERE cn.id=#{id}
    </select>
    <resultMap id="ResultMap" type="com.m78.entity.Chargeitem" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="VARCHAR" />
    </resultMap>
    <select id="getCharNameById" resultMap="ResultMap">
        SELECT ch.id,ch.`name`,ch.type FROM chargeitem ch
    </select>
    <select id="getCharItemIdByName" resultType="java.lang.Long">
        SELECT   id FROM chargeitem WHERE name=#{name}
    </select>
</mapper>