<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.m78.mapper.CommunityMapper" >
  <resultMap id="BaseResultMap" type="com.m78.entity.Community" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="detailAddress" property="detailaddress" jdbcType="VARCHAR" />
    <result column="serviceTel" property="servicetel" jdbcType="VARCHAR" />
    <result column="leader" property="leader" jdbcType="VARCHAR" />
    <result column="leaderPhone" property="leaderphone" jdbcType="VARCHAR" />
    <result column="logo" property="logo" jdbcType="VARCHAR" />
    <result column="backgroundImage" property="backgroundimage" jdbcType="VARCHAR" />
  </resultMap>
  <!-- 查找全部 -->
  <select id="findAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from community
    <if test="communityName!=''">
     where `name` LIKE CONCAT ('%',#{communityName },'%')
    </if>
    limit #{start},#{limit}
  </select>
  <!-- 查询小区总数根据名称 -->
  <select id="getCommunityCountByName" resultType="java.lang.Long">
    SELECT COUNT(1) FROM community where 1=1
    <if test="communityName!=''">
      and name LIKE CONCAT ('%',#{communityName},'%')
    </if>
  </select>
<!--查询小区名称和id-->
  <select id="getCommunityIdAndName" resultMap="BaseResultMap">
    select id,name from community
  </select>
  <!--根据小区名称查询小区id-->
  <select id="getCommunityIdByName" resultType="java.lang.Long">
   SELECT c.id FROM community c WHERE c.name=#{communityName}
  </select>
  <sql id="Base_Column_List">
    id, name, address, detailAddress, serviceTel, leader, leaderPhone, logo, backgroundImage
  </sql>
  <!--根据小区id修改小区-->
  <update id="updateByPrimaryKeySelective" parameterType="com.m78.entity.Community" >
    update community
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="detailaddress != null" >
        detailAddress = #{detailaddress,jdbcType=VARCHAR},
      </if>
      <if test="servicetel != null" >
        serviceTel = #{servicetel,jdbcType=VARCHAR},
      </if>
      <if test="leader != null" >
        leader = #{leader,jdbcType=VARCHAR},
      </if>
      <if test="leaderphone != null" >
        leaderPhone = #{leaderphone,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="backgroundimage != null" >
        backgroundImage = #{backgroundimage,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <!--查询id,name,住址根据name 带分页-->
  <select id="getIdNameAddressByName" resultType="com.m78.entity.Community">
    select
    id,`name`,address
    from community
    <if test="communityName!=''">
      where `name` LIKE CONCAT ('%',#{communityName },'%')
    </if>
    limit #{start},#{limit}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from community
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from community
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.m78.entity.Community" >
    insert into community ( name, address,
      detailAddress, serviceTel, leader, 
      leaderPhone, logo, backgroundImage
      )
    values (#{name,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
      #{detailaddress,jdbcType=VARCHAR}, #{servicetel,jdbcType=VARCHAR}, #{leader,jdbcType=VARCHAR},
      #{leaderphone,jdbcType=VARCHAR}, #{logo,jdbcType=VARCHAR}, #{backgroundimage,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.m78.entity.Community" >
    insert into community
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="detailaddress != null" >
        detailAddress,
      </if>
      <if test="servicetel != null" >
        serviceTel,
      </if>
      <if test="leader != null" >
        leader,
      </if>
      <if test="leaderphone != null" >
        leaderPhone,
      </if>
      <if test="logo != null" >
        logo,
      </if>
      <if test="backgroundimage != null" >
        backgroundImage,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="detailaddress != null" >
        #{detailaddress,jdbcType=VARCHAR},
      </if>
      <if test="servicetel != null" >
        #{servicetel,jdbcType=VARCHAR},
      </if>
      <if test="leader != null" >
        #{leader,jdbcType=VARCHAR},
      </if>
      <if test="leaderphone != null" >
        #{leaderphone,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="backgroundimage != null" >
        #{backgroundimage,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.m78.entity.Community" >
    update community
    set name = #{name,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      detailAddress = #{detailaddress,jdbcType=VARCHAR},
      serviceTel = #{servicetel,jdbcType=VARCHAR},
      leader = #{leader,jdbcType=VARCHAR},
      leaderPhone = #{leaderphone,jdbcType=VARCHAR},
      logo = #{logo,jdbcType=VARCHAR},
      backgroundImage = #{backgroundimage,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>