<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.m78.mapper.HouseMapper" >
  <resultMap id="BaseResultMap" type="com.m78.entity.House" >
    <id column="houseId" property="houseid" jdbcType="BIGINT" />
    <result column="unitNumber" property="unitnumber" jdbcType="BIGINT" />
    <result column="fool" property="fool" jdbcType="BIGINT" />
    <result column="area" property="area" jdbcType="DOUBLE" />
    <result column="houseType" property="housetype" jdbcType="BIGINT" />
    <result column="inArea" property="inarea" jdbcType="DOUBLE" />
    <result column="publicArea" property="publicarea" jdbcType="DOUBLE" />
    <result column="returnTime" property="returntime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="BIGINT" />
    <result column="equity" property="equity" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    houseId, unitNumber, fool, area, houseType, inArea, publicArea, returnTime, state, 
    equity
  </sql>
  <select id="getHoust" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List"/>
      from house
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from house
    where houseId = #{houseid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from house
    where houseId = #{houseid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.m78.entity.House" >
    insert into house (houseId, unitNumber, fool, 
      area, houseType, inArea, 
      publicArea, returnTime, state, 
      equity)
    values (#{houseid,jdbcType=BIGINT}, #{unitnumber,jdbcType=BIGINT}, #{fool,jdbcType=BIGINT}, 
      #{area,jdbcType=DOUBLE}, #{housetype,jdbcType=BIGINT}, #{inarea,jdbcType=DOUBLE}, 
      #{publicarea,jdbcType=DOUBLE}, #{returntime,jdbcType=TIMESTAMP}, #{state,jdbcType=BIGINT}, 
      #{equity,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.m78.entity.House" >
    insert into house
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="houseid != null" >
        houseId,
      </if>
      <if test="unitnumber != null" >
        unitNumber,
      </if>
      <if test="fool != null" >
        fool,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="housetype != null" >
        houseType,
      </if>
      <if test="inarea != null" >
        inArea,
      </if>
      <if test="publicarea != null" >
        publicArea,
      </if>
      <if test="returntime != null" >
        returnTime,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="equity != null" >
        equity,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="houseid != null" >
        #{houseid,jdbcType=BIGINT},
      </if>
      <if test="unitnumber != null" >
        #{unitnumber,jdbcType=BIGINT},
      </if>
      <if test="fool != null" >
        #{fool,jdbcType=BIGINT},
      </if>
      <if test="area != null" >
        #{area,jdbcType=DOUBLE},
      </if>
      <if test="housetype != null" >
        #{housetype,jdbcType=BIGINT},
      </if>
      <if test="inarea != null" >
        #{inarea,jdbcType=DOUBLE},
      </if>
      <if test="publicarea != null" >
        #{publicarea,jdbcType=DOUBLE},
      </if>
      <if test="returntime != null" >
        #{returntime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=BIGINT},
      </if>
      <if test="equity != null" >
        #{equity,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.m78.entity.House" >
    update house
    <set >
      <if test="unitnumber != null" >
        unitNumber = #{unitnumber,jdbcType=BIGINT},
      </if>
      <if test="fool != null" >
        fool = #{fool,jdbcType=BIGINT},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=DOUBLE},
      </if>
      <if test="housetype != null" >
        houseType = #{housetype,jdbcType=BIGINT},
      </if>
      <if test="inarea != null" >
        inArea = #{inarea,jdbcType=DOUBLE},
      </if>
      <if test="publicarea != null" >
        publicArea = #{publicarea,jdbcType=DOUBLE},
      </if>
      <if test="returntime != null" >
        returnTime = #{returntime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=BIGINT},
      </if>
      <if test="equity != null" >
        equity = #{equity,jdbcType=BIGINT},
      </if>
    </set>
    where houseId = #{houseid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.m78.entity.House" >
    update house
    set unitNumber = #{unitnumber,jdbcType=BIGINT},
      fool = #{fool,jdbcType=BIGINT},
      area = #{area,jdbcType=DOUBLE},
      houseType = #{housetype,jdbcType=BIGINT},
      inArea = #{inarea,jdbcType=DOUBLE},
      publicArea = #{publicarea,jdbcType=DOUBLE},
      returnTime = #{returntime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=BIGINT},
      equity = #{equity,jdbcType=BIGINT}
    where houseId = #{houseid,jdbcType=BIGINT}
  </update>
</mapper>