<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.m78.mapper.TenementCarMapper">
  <resultMap id="BaseResultMap" type="com.m78.entity.TenementCar">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="tenementId" jdbcType="BIGINT" property="tenementid" />
    <result column="carId" jdbcType="BIGINT" property="carid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, tenementId, carId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tenement_car
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tenement_car
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.m78.entity.TenementCar">
    insert into tenement_car (id, tenementId, carId
      )
    values (#{id,jdbcType=BIGINT}, #{tenementid,jdbcType=BIGINT}, #{carid,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.m78.entity.TenementCar">
    insert into tenement_car
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tenementid != null">
        tenementId,
      </if>
      <if test="carid != null">
        carId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="tenementid != null">
        #{tenementid,jdbcType=BIGINT},
      </if>
      <if test="carid != null">
        #{carid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.m78.entity.TenementCar">
    update tenement_car
    <set>
      <if test="tenementid != null">
        tenementId = #{tenementid,jdbcType=BIGINT},
      </if>
      <if test="carid != null">
        carId = #{carid,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.m78.entity.TenementCar">
    update tenement_car
    set tenementId = #{tenementid,jdbcType=BIGINT},
      carId = #{carid,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>