<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--
	作者：offline
	时间：2018-07-07
	描述:添加员工
-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>添加员工</title>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet">
    <link th:href="@{/css/back_public.css}" rel="stylesheet">
    <style>
        form {
            width: 600px;
            margin: 50px auto;
        }
        .layui-form-item {
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
<form id="form1" class="layui-form" action="" onsubmit="return false" enctype="multipart/form-data">
    <div class="layui-form-item">
        <label class="layui-form-label">员工姓名</label>
        <div class="layui-input-block">
            <input type="text" id="userName" name="noticename" lay-verify="required" autocomplete="off"
                   placeholder="请输入姓名" class="layui-input"/>
        </div>

    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">员工电话</label>
        <div class="layui-input-block">
            <input type="text" id="phone" name="noticename" lay-verify="required" autocomplete="off"
                   placeholder="请输入电话" class="layui-input"/>
        </div>

    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">微信号码</label>
        <div class="layui-input-block">
            <input type="text" id="wxNumber" name="noticename" lay-verify="required" autocomplete="off"
                   placeholder="请输入微信账号" class="layui-input"/>
        </div>

    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">所属部门</label>
        <div class="layui-input-block">
            <select class="input" name="type" id="deparment">

            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">现任职位</label>
        <div class="layui-input-block">
            <select class="input" name="type" id="noticetype">

            </select>
            <a onclick="addType()" style="color:rgb(46,204,113);margin-top:20px;display: block" href="javascript:(0)">添加更多职位</a>
        </div>
    </div>
    <div class="layui-form-item" id="sure">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            <button id="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>

</form>
<script th:src="@{/js/jquery-3.2.1.js}"></script>
<script th:src="@{/layui/layui.js}"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form;
        form.on('submit(demo1)', function (data) {
            $.ajax({
                url: 'addMessage.json',
                type: 'get',
                dataType: 'json',
                data: {
                    title: $("#messageName").val(),
                    content:  layedit.getContent(index)
                },
                success: function (data) {
                    if (data == '1') {
                        parent.location.reload();
                    } else {
                        layer.msg("错误");
                    }

                }
            })

        });

    });


</script>
</body>

</html>